<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mi</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>/Users/hume/Documents/Python/XiaoMi/run.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/hume/Documents/Python/XiaoMi/error.txt</string>
	<key>StandardOutPath</key>
	<string>/Users/hume/Documents/Python/XiaoMi/slog.txt</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>20</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
